<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/rodape.css" />
  <link rel="stylesheet" href="/css/perfil.css" />

  <title>GuidesFit</title>
</head>
  <body>
    <div th:replace="componentes/menu"></div>
    <main>
      <p th:unless="${personal.present}" style="margin-top: 3em">
        Nenhum Personal Encontrado!
      </p>
      <section th:if="${personal.present}">
        <h2 th:text="${personal.get().nome}">Detalhes</h2>
      </section>

    </main>

  <script>
  </script>
  </body>
</html>